<!-- content -->
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#profile1" class="lead">Ivan Ivanov</a>
        </div>
        <div class=" panel-body" id="message-list">
        <ol class="media-list">
            <div class="media message">
                <div class="media-left">
                <a href="#profile1"><img src="http://lorempixel.com/32/32/people/1" alt="" class="media-object img-circle" width="32" height="32" ></a>
                </div>
                <div class="media-body">
                     <p class="message-text">
                          Vivamus tempus felis vel dui consectetur ornare. Nam interdum tincidunt elit, eu ultricies justo condimentum at. Sed pulvinar consequat sollicitudin.
                     </p>
                    <p class="text-muted message-date">Yesterday at 14:43</p>
                </div>
            </div>
            <div class="media message">
                <div class="media-body">
                     <p class="message-text">
                          Vivamus tempus felis vel dui consectetur ornare. Nam interdum tincidunt elit, eu ultricies justo condimentum at. Sed pulvinar consequat sollicitudin.
                     </p>
                    <p class="text-muted message-date">Yesterday at 14:43</p>
                </div>
                <div class="media-right"><a href="#profile2"><img src="http://lorempixel.com/64/64/people/2" width="32" height="32" alt="" class="media-object img-circle"></a></div>
            </div>
            <div class="media message">
                <div class="media-left">
                <a href="#profile1"><img src="http://lorempixel.com/64/64/people/1" alt="" class="media-object img-circle" width="32" height="32" ></a>
                </div>
                <div class="media-body">
                     <p class="message-text">
                          Vivamus tempus felis vel dui consectetur ornare. Nam interdum tincidunt elit, eu ultricies justo condimentum at. Sed pulvinar consequat sollicitudin.
                     </p>
                    <p class="text-muted message-date">Yesterday at 14:43</p>
                </div>
            </div>
            <div class="media message">
                <div class="media-left">
                <a href="#profile1"><img src="http://lorempixel.com/64/64/people/1" alt="" class="media-object img-circle" width="32" height="32" ></a>
                </div>
                <div class="media-body">
                     <p class="message-text">
                          Vivamus tempus felis vel dui consectetur ornare. Nam interdum tincidunt elit, eu ultricies justo condimentum at. Sed pulvinar consequat sollicitudin.
                     </p>
                    <p class="text-muted message-date">Yesterday at 14:43</p>
                </div>
            </div>
        </ol>
       </div>
    </div>
    <div id="message-form" class="panel panel-default">
       <div class="panel-body">
        <form action="/message" method="post">
           <div class="col-md-9">
               <textarea name="text" id="message-text" class="form-control"></textarea>
           </div>
           <div class="col-md-3">
               <input type="submit" value="Send" class="btn btn-primary btn-block">
           </div>
        </form>

       </div>
    </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Dialogs</div>
    <ul class="list-group">
        <a class="list-group-item" href="#dialog1">
            <span class="badge">5</span>
            <h4 class="list-group-item-heading">John Doe </h4>
            <p class="list-group-item-text">Hello</p>
        </a>
        <a class="list-group-item active" href="#dialog2">
            <h4 class="list-group-item-heading">Ivan Ivanov</h4>
            <p class="list-group-item-text">Lorem ipsum...</p>
        </a>
        <a class="list-group-item" href="#dialog3">
            <span class="badge">3</span>
            <h4 class="list-group-item-heading">Pyotr Petrov</h4>
            <p class="list-group-item-text">Okay so...</p>
        </a>
    </ul>
    </div>
</div>
<!-- /content -->